[submodule "TrafficVolumePrediction"]
	path = TrafficVolumePrediction
	url = https://github.com/NavinSanjay/TrafficVolumePrediction.git
[submodule "UFCFightOutcomePrediction"]
	path = UFCFightOutcomePrediction
	url = https://github.com/NavinSanjay/UFCFightOutcomePrediction.git
[submodule "NewsHeadlineSentimentAnalysis"]
	path = NewsHeadlineSentimentAnalysis
	url = https://github.com/NavinSanjay/NewsHeadlineSentimentAnalysis.git
[submodule "MusicAttributeAnalysis"]
	path = MusicAttributeAnalysis
	url = https://github.com/NavinSanjay/MusicAttributeAnalysis.git
[submodule "MovieRecommendationSystem"]
	path = MovieRecommendationSystem
	url = https://github.com/NavinSanjay/MovieRecommendationSystem.git
